<table>
  <thead>
    <th>Park Lot Number</th>
    <th>Plate Number</th>
    <th>Color</th>
    <th>Status</th>
  </thead>
  <tbody>
    <% ParkingLot.all.each_with_index do |parking_lot, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= parking_lot.plate_number %></td>
      <td><%= parking_lot.color %></td>
      <td>
        <%= parking_lot.available? ? 'Available' : 'Parked' %>
        <% if !parking_lot.available? %>
          | <%= link_to 'Car Leave', leave_parking_lot_parking_lot_path(parking_lot), method: :post %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>